@model IEnumerable<WesthoughtonWorldOfWicker.Models.OrderDetail>

@{
    ViewData["Title"] = "Order Management Page";
}

<h3>Order Management Page</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.InfoId) (user contact details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ModelName)
            </th>
            <th>Product Category</th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.UnitCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Order.InfoId)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ModelName)
            </td>
            <td>
                @if (item.Product.Category != null)
                {
                    @item.Product.Category.CategoryName
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.UnitCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Total)
            </td>
            <td></td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
